<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>Hi</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="/Content/ui/global/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link href="/Content/ui/global/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!-- Theme style -->
    <link rel="stylesheet" href="/content/adminlte/dist/css/AdminLTE.css">
    <link rel="stylesheet" href="/content/adminlte/dist/css/skins/_all-skins.min.css">
    <link href="/Content/min/css/supershopui.common.min.css" rel="stylesheet" />
    <link href="/Content/supermgr/Base/css/common.css" rel="stylesheet" />
    <link href="/Content/plugins/bootstrap-treeview/bootstrap-treeview.min.css" rel="stylesheet" />
    <script src="/Content/ui/global/jQuery/jquery-2.2.3.min.js"></script>
    <script src="/Content/supermgr/Base/js/common.js"></script>
    <script src="/Content/plugins/datepicker/WdatePicker.js"></script>
    <script type="text/javascript" charset="utf-8" src="/Content/plugins/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="/Content/plugins/ueditor/ueditor.all.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="/Content/plugins/ueditor/lang/zh-cn/zh-cn.js"></script>
    <script src="/Content/plugins/bootstrap-treeview/bootstrap-treeview.min.js"></script>
</head>
<body>
    <!-- Main content -->
    <section class="content">
        @RenderBody()
    </section>
</body>
</html>


<!-- Bootstrap 3.3.6 -->
<script src="/content/ui/global/bootstrap/js/bootstrap.min.js"></script>
<script src="/content/min/js/supershopui.common.js"></script>
<script src="/content/plugins/validator/validator.js"></script>
