<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>Hi</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="/Content/ui/global/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link href="/Content/ui/global/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!-- Theme style -->
    <link rel="stylesheet" href="/Content/adminlte/dist/css/AdminLTE.css">
    <link rel="stylesheet" href="/Content/adminlte/dist/css/skins/_all-skins.min.css">
    <link href="/Content/min/css/supershopui.common.min.css" rel="stylesheet" />
    <link href="/Content/supermgr/Base/css/common.css" rel="stylesheet" />
    @*<link href="/Content/plugins/jqgrid/jqgrid.css" rel="stylesheet" />*@
    <link href="~/Content/plugins/bootstrap-table/bootstrap-table.css" rel="stylesheet" />
    <link href="/Content/plugins/wdtree/tree.css" rel="stylesheet" />
    <script src="/Content/ui/global/jQuery/jquery-2.2.3.min.js"></script>

    <!-- Bootstrap 3.3.6 -->
    <script src="/Content/ui/global/bootstrap/js/bootstrap.min.js"></script>
    <script src="/Content/min/js/supershopui.common.js"></script>
    <script src="/Content/supermgr/Base/js/common.js"></script>
    @*<script src="/Content/plugins/jqgrid/grid.locale-cn.js"></script>
        <script src="/Content/plugins/jqgrid/jqgrid.js"></script>*@
    <script src="/Content/plugins/tableExport/tableExport.js"></script>
    <script src="/Content/plugins/bootstrap-table/bootstrap-table.js"></script>
    <script src="/Content/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
    <script src="/Content/plugins/bootstrap-table/bootstrap-table-export.js"></script>
    <script src="/Content/plugins/validator/validator.js"></script>
    <script src="/Content/plugins/layout/jquery.layout.js"></script>
    <script src="/Content/plugins/wdtree/tree.js"></script>

    <link href="/Content/plugins/daterangepicker/daterangepicker-bs3.css" rel="stylesheet" />
    <script src="/Content/plugins/daterangepicker/daterangepicker.js"></script>
    <script src="/Content/plugins/datepicker/WdatePicker.js"></script>
    <!--下拉多选-->
    <script src="/Content/adminlte/bootstrap/js/bootstrap-multiselect.js"></script>
    <link href="/Content/adminlte/bootstrap/css/bootstrap-multiselect.css" rel="stylesheet" />
</head>
<body>
    <!-- Main content -->
    <section class="content">
        @RenderBody()
    </section>
</body>
</html>
