
@{
    ViewData["Title"] = "SetRole";
    Layout = "~/Views/Shared/_Index.cshtml";
}

@{
    foreach (var item in ViewBag.allRoles)
    {
        bool check = (ViewBag.userRolesIds != null && ViewBag.userRolesIds.Contains(item.Id));
        <label><input type="checkbox" name="role" id="role_@item.Id" value="@item.Id" @if (check) { <text> checked</text> } />&nbsp;@item.RoleName&nbsp;</label>
    }
}

<script>
    var id = request("id");

    function AcceptClick() {
        var postData = {};
        var checkIds = "";
        $('input:checkbox[name=role]:checked').each(function (k) {
            if (k == 0) {
                checkIds = $(this).val();
            } else {
                checkIds += ',' + $(this).val();
            }
        })
        postData["id"] = id;
        postData["checkIds"] = checkIds;
        $.fn.submitForm({
            url: "/Users/SetRole",
            param: postData,
            loading: "正在保存数据...",
            success: function () {
                $.currentIframe().$('#UsersTable').bootstrapTable('refresh');
            }
        });
    }
</script>

